@model Pollaris.Models.UserId
<html>
<body>
    <navbar>
        <div class="green-bar"></div>
        <div class="navbar-body">
            <h1>Create Room</h1>
        </div>
    </navbar>

    <div class="room-body">
        <form>
            <input type="text" id="name" class="create-room-input" placeholder="Room Name" /><br />
            <button type="reset" onclick="createRoomSubmit(@Model.Id)">Create Room</button>
        </form>
    </div>

    <div class="button-bar-1">
        <button onclick="openUserDashboard(@Model.Id)">Exit</button>
    </div>
</body>
</html>