<div id="change-password-popup">
    <h2 id="change-password-header">Change Your Password</h2>
    <form>
        <input type="text" id="old-password" class="create-room-input" placeholder="Old Password" style="font-size: 36px"/><br />
        <input type="text" id="new-password" class="create-room-input" placeholder="New Password" style="font-size: 36px" /><br />
        <input type="text" id="new-password-repeat" class="create-room-input" placeholder="New Password (Confirm)" style="font-size: 36px" /><br />
        <div>
            <button onclick="closeChangePassword()">Cancel</button>
            <button onclick="editProfileSave(@Model.Id)">Save</button>
        </div>
    </form>
    
</div>