<div id="change-password-popup">
    <h2 id="change-password-header">Change Your Password</h2>
    <form>
        <input type="text" id="old-password" class="create-room-input fs-2" placeholder="Old Password"/><br />
        <input type="text" id="new-password" class="create-room-input fs-2" placeholder="New Password"/><br />
        <input type="text" id="new-password-repeat" class="create-room-input fs-2" placeholder="New Password (Confirm)"/><br />
        <div>
            <button type="reset" onclick="closeChangePassword()">Cancel</button>
            <button onclick="savePassword(@Model.Id)">Save</button>
        </div>
    </form>
</div>