@model Pollaris.Models.UserId
<html>
<body>
    <div class="opening-page">

        <label for="file" style="cursor: pointer;">Upload Image</label>

        <partial name="ChangePassword.cshtml" />
        <img id="photo" src="/images/profile-photo.jpg" />
        <input class="link" href="#" type="file" accept="image/*" name="image" id="file" onchange="changeImage(event)" style="display: none;">
        <label class="link" for="file" style="cursor: pointer;">Change Image</label>
        <button class="btn-large" onclick="changePassword()">Change Password</button>


        <form id="edit-profile-form">
            <input type="text" id="first-name" class="input-blue-white" placeholder="First Name" />
            <input type="text" id="last-name" class="input-blue-white" placeholder="Last Name" />
            <div>
                <button type="reset" class="btn-small" onclick="openUserDashboard(@Model.Id)">Cancel</button>
                <button type="reset" class="btn-small" onclick="editProfileSave(@Model.Id)">Save</button>
            </div>
        </form>
    </div>
</body>
</html>