#edit-set-body {
    height: 70%;
    padding: 20px;
}

#questions-list {
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 100px 75% 3% 5% auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    align-items: center;
    overflow-y: scroll;
}

.list-number {
    width: 80%;
    height: 90%;
    align-self: center;
    background-color: #386150;
    border-radius: 20px; 
    color: white; 
    font-size: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 10px;
}

.question-name-bar {
    height: 75%;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #1B264F;
    font-size: 45px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
}

.question-type {
    color: white;
    padding: 10px;
    align-self: center;
    font-size: 24px;
    text-align: center;
}


.question-header {
    background-color: #98CBB4;
    border: 1px #1B264F solid; 
    width: 50%; 
}

.question-header-small {
    font-size: 36px;
    padding-top: 20px;
}

.question-header-big {
    padding-top: 70px;
}

#set-responses-header {
    width: 100%; 
    height: 40%; 
    display: flex; 
    flex-direction: row; 
}

.student-response {
    width: 95%;
    height: 80px;
    background-color: #1B264F;
    color: white;
    border: 2px white solid;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#set-responses-body {
    height: 45%;
    background-color: #1B264F;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

#set-responses-grid {
    display: grid;
    grid-row-gap: 15px;
    justify-items: center;
    overflow-y: scroll;
}
