html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: #1b264f;
}

main {
    height: 100%; 
    width: 100%; 
}

::placeholder {
    color: white;
}

h1 {
    color: #1b264f;
    font-size: 64px;
    font-family: Arial;
}

h2 {
    color: white;
    font-size: 40px;
    font-family: Arial;
}

h3 {
    color: #1B264F;
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 250px;
    height: 90px;
    background-color: #FB3640;
    color: white;
    font-size: 36px;
    font-family: Arial;
    border: 0px;
    border-radius: 25px;
    font-weight: bold;
    padding: 0px 10px 0px 10px; 
    margin: 0px 20px 0px 20px;
}

a {
    font-family: Arial; 
    color: white; 
}

p {
    color: white;
    font-family: Arial;
}

navbar {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.green-bar {
    background-color: #386150;
    height: 10%;
    width: 100%;
}

.navbar-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #98CBB4;
    height: 90%;
    width: auto;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-photo {
    height: 140px;
    width: 140px;
    border-radius: 140px;
    border: 10px solid #98CBB4;
}

.page {
    height: 70%; 
    width: 100%;
}

.input-blue-white {
    height: 40px;
    width: 300px;
    text-align: center;
    margin: 5px;
    color: white;
    border-radius: 20px;
    border-color: white;
    background-color: #1b264f;
    font-size: 18px;
}

.grey {
    background-color: #757575 !important;
}

.light-green {
    background-color: #98CBB4 !important;
}

.dark-green {
    background-color: #386150 !important;
}

.red {
    background-color: #FB3640 !important;
}